---
{{- if .Values.cluster_secret_stores -}}
{{- if .Values.cluster_secret_stores.azure -}}
apiVersion: external-secrets.io/v1beta1
kind: ClusterSecretStore
metadata:
  name: {{ .Values.cluster_secret_stores.azure.name }}
  namespace: {{ .Release.Namespace }}
spec:
  provider:
    azurekv:
      authType: WorkloadIdentity
      vaultUrl: {{ .Values.cluster_secret_stores.azure.vault_url }}
      serviceAccountRef:
        name: {{ .Release.Name }}-external-secrets
{{- end -}}
{{- end -}}
